*{
  box-sizing:border-box;
}
@font-face {
  font-family:ping-fang-sc;
  src:url('../fonts/PingFangSC-Regular.ttf');
}
@font-face {
  font-family:din-media;
  src:url('../fonts/DIN-Medium.otf');
}
@font-face {
  font-family:iconfont;
  src:url('../fonts/iconfont.ttf');
}

body,ul,ol,li,p,a{
  padding:0;
  margin:0;
}
body{
  font-family: 'microsoft yahei', Arial, serif,iconfont;
}
#container{
  width:100vw;
  min-height: 100vw;
  position:relative;
  background-color: #F8EFD9;
  &>div,&> img{
    position:absolute;
  }
}
#background{
  width:100%;
}
#logo{
  width: 10vw;
  height: auto;
  left: 4vw;
  top: 5vw;
}

.advertise{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 38vw;
  line-height: 8vw;
  font-size: 4.2vw;
  div:nth-child(1){
    color:#fff;
  }
  div:nth-child(2){
    color:#FFFDC6;
  }
}
.func-btn{
  width: 100vw;
  height: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 105vw;
  color: #fff;
  text-align: center;
  justify-content: space-between;
  &>div{
    width: 90vw;
    height: 12vw;
    font-size: 4.9vw;
    border-radius: 2vw;
    line-height: 11vw;
    position:relative;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    &:after{
      content: "\e77b";
      right: 3vw;
      position: absolute;
      display: block;
      z-index: 5;
      top: 0;
      font-size: 2vw;
    }
  }
}

.apply-card-btn{
  background:rgb(222, 63, 42);
}
.deposit-card-btn{
  background:rgb(118, 169, 226);
}


.card-items{
  width:100vw;
  height:auto;
  background-color:#F8EFD9;
  top: 137vw;
  .item{
    padding-top: 0.1vw;
    width:90vw;
    margin:0 auto 3vw auto;
    text-align:center;
    input[type=checkbox]{
      visibility:hidden;
      position:absolute;
      left:0;
      top:0;
      &:checked~div{
        transform:rotate(270deg);
      }
      &:checked~.content{
        height:auto;
        max-height: 86vw;
        visibility:visible;
        padding: 5vw 6vw 5vw 11vw;
        li{
          visibility:visible;
        }
      }
    }
    height: auto;
    min-height: 11vw;
    background-color: #fff;
    border-radius: 1.2vw;
    position: relative;
    div:after{
      content: "\e608";
      font-size: 7vw;
    }
    div{
      position: absolute;
      right: 5vw;
      top: 2vw;
      line-height: 7vw;
      transform: rotate(90deg);
      transition:transform 0.2s;
    }
    label{
      position: absolute;
      z-index: 1;
      display: block;
      width: 100%;
      height: 11vw;
      text-align: left;
      padding:3vw 5vw;
      font-size: 3.4vw;
    }
    ol.content{
      max-height:0;
      overflow:hidden;
      li{
        visibility:hidden;
      }
      font-size: 1vw;
      text-align: left;
      width: 100%;
      background-color: #FBF7EC;
      border: 1px solid #fff;
      border-top: none;
      margin: 11vw 0 0 0;
      padding:0;
      transition:max-height 0.3s;
    }
    &:last-child{
      margin-bottom: 10vw;
    }
  }
}
