<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>

<body>
<p>Hi <%= name %></p>
<h1><%= '循环插入图片' %></h1>
<ul>
    <% supplies.forEach(function(img){ %>
    <li>
        <a href="#">
            <img src="<%= 'img/' + img %>" alt="">
        </a>
    </li>
    <% }) %>
</ul>
</body>
</html>