#container{
    width:600px;
    height:500px;
    background-color:black;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    /*align-items:baseline;*/
    align-content:space-around;
}

.child{
    width:23%;
    height:100px;
    background-color:white;
    color:#000;
    text-align:center;
    line-height:100px;
    font-size:32px;
}

.child:nth-child(1){
    height:60px;
    line-height:60px;
}
.child:nth-child(2){
    height:80px;
    line-height:80px;
}
.child:nth-child(3){
    height:50px;
    line-height:50px;
    font-size:40px;
    /*align-self: flex-end;*/
}