body{
    margin:0;
    padding:0;
}
*{
    /*box-sizing:padding-box;*/
    /*box-sizing:content-box;*/
    box-sizing:border-box;
}

.container{
    width:100%;
    height:auto;
}
.f-box{
    width: 100%;
    height: 750px;
    background-color:palegreen;
    display:flex;
    flex-direction:row; /*弹性子元素排列方式*/
    /*flex-direction: row | row-reverse | column | column-reverse*/

    justify-content:center;/*内容水平对其属性*/
    /*justify-content: flex-start | flex-end | center | space-between | space-around*/

    align-items: center;/*内容垂直对其属性*/
    /*align-items: flex-start | flex-end | center | baseline | stretch*/

    flex-wrap:nowrap; /*弹性子元素换行方式*/
    /*flex-wrap:nowrap|wrap|wrap-reverse*/

    align-content: flex-start;/*弹性盒子子元素换行后的对其方式*/
    /*align-content: flex-start | flex-end | center | space-between | space-around | stretch*/

}
.f-item{
    width:260px;
    height:130px;
    background-color:darkslategray;
    color:#fff;
    background-clip:content-box;
    padding:5px;
    border:1px solid #000;


}
.f-item:nth-child(2){
    /*弹性子元素排序*/
    -webkit-order:-1;
    /*order:2;*/
    background-color:lightpink;
    align-self: flex-start;/*弹性元素自身在纵轴上的对齐方式*/
    /*align-self: auto | flex-start | flex-end | center | baseline | stretch*/

    /*flex:1;属性用于指定弹性子元素如何分配空间。*/
    /*flex:none | [ flex-grow ] || [ flex-shrink ] || [ flex-basis ]*/
}

.perfect-center{
    width:300px;
    height:300px;
    border:1px solid #2aabd2;
    display:flex;
    margin:30px;
}
.center-item{
    width:120px;
    height:120px;
    border:1px solid #000;
    margin:auto;
}


